@import url("typography.css");
@import url("interface.css");
@import url("button.css");
@import url("progressbar.css");
@import url("responsive.css");
@import url("tooltip.css");
@import url("flex.css");
@import url("griditem.css");

body{
	background-color:0d0c0c;
}

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
