body{
	background-color:0d0c0c;
}

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

:root::before {
	--cursorX: 0px;
	--cursorY: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.hover{
	display: none;
}

.adoptFamiliar:hover + .hover,
.blood:hover + .hover,
.humanFood:hover + .hover,
.currentHouse:hover + .hover,
.humanFoodGather:hover + .hover,
.bloodVictimGather:hover + .hover,
.mosquito:hover + .hover,
.vampireRat:hover + .hover,
.vampireBat:hover + .hover,
.bloodHound:hover + .hover,
.vampireSlave:hover + .hover,
.nightWalker:hover + .hover,
.badabook:hover + .hover
{
	position: fixed;
	padding: 0.5em;
	background-color: gray;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	outline: lightgray 2px solid;
	color: white;
	font-size:15px;
	pointer-events: none;
	left: calc(var(--cursorX) + 20px);
	top: calc(var(--cursorY) + 20px);
	border-radius: 10px;
	align-items: center;
}
.hover p {
	margin: 0;
}

.blood{
	cursor: help;
}
.humanFood{
	cursor: help;
}

.currentHouse{
	cursor: help;
}



.button {
	border: 2px solid white;
	border-radius: 5px;
	width: 25%;
	font-size: 15px;
}
.button:hover {
	background-color: rgb(82, 82, 82);
}

.button:active {
	background-color: gray;
}

.item1 {grid-area: header;}
.item2 {grid-area: storage;}
.item3 {grid-area: vampires;}
.item4 {grid-area: familiar;}
.item5 {grid-area: stats;}
.item6 {grid-area: house;}
.item7 {grid-area: vampires2;}
.item8 {grid-area: upgrade;}
.item9 {grid-area: action;}

.grid-container{
	display: grid;
	grid-template-areas:
		'header header header header header header'
		'vampires vampires vampires2 vampires2 familiar familiar'
		'stats stats house house storage storage'
		'upgrade upgrade upgrade action action action';
	grid-gap: 5px;
	background-color: #0d0c0c;
	padding: 10px;
}

.grid-container > div{
	background-color: #343131;
	text-align:center;
	padding: 0px 0;
	color: white;
	font-size: 20px;
}




#overlay{
	position:fixed;
	display: none;
	width: 25%;
	height: 50%;
	top: 25%;
	left: 37%;
	background-color: black;
	z-index: 2;
	cursor: pointer;
}

#text{
	padding: 10px;
}

.item10 {grid-area: header;}
.item11 {grid-area: image;}
.item12 {grid-area: vampireName;}
.item13 {grid-area: houseName;}
.item14 {grid-area: confirmButton;}


.grid-container-signup{
	display: grid;
	grid-template-areas:
		'header header header header header header'
		'image image vampireName vampireName vampireName vampireName'
		'image image houseName houseName houseName houseName'
		'confirmButton confirmButton confirmButton confirmButton confirmButton confirmButton';
	grid-gap: 5px;
	background-color: #0d0c0c;
	padding: 10px;
}

.grid-container-signup > div{
	background-color: #343131;
	text-align:center;
	padding: 5px 0;
	color: white;
	font-size: 20px;
}
